body {
    background-image: url("images/agirl.png");
    background-repeat: no-repeat;
    background-color: bisque;     
}

header div {
    margin: auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Разграничил используюмую область*/
section {
    border: 1px solid seashell;
    width: 600px;
    color: red;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}
/*Я люблю разнообразие стилей, поэтому отделил визуально листы*/
ul {
    background-color: rgb(127, 138, 255);
    color: rgb(0, 255, 60);
}

/*Так же кнопки сделал более выделяющимися, так красивее */
button {
    border: 5px solid;
    border-color: green;
    background-color: #ff0;
    width: 170px;
}