body {
    background-image: url("../images/citycloud.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin: auto;
    padding-left: 30px;
    
}

#logo {
    width: 50px;
    height: auto;
}
/*На счет дизайна не стал заморачиваться, но по мне за 2 часа красиво вышло*/
body p {
    width: 700px;
    height: auto;
    margin: 30px;
    padding: 20px;
    border: 5px solid;
    background-color: violet;
}

section h1 {
    padding-left: 30px;
    width: 780px;
    height: auto;
    background-color: yellowgreen;
}

body a {
    cursor: pointer;
}

#Chat {
    border: 2px solid yellow;
    margin: auto;
    background-image: url("../images/light.jpg");
    background-size: cover;
    height: 200px;
    width: 400px;
    color: antiquewhite;
    text-align: end;
    cursor: pointer;

}