/*На счет дизайна не стал заморачиваться, но по мне за 2 часа красиво вышло*/
body p {
    width: 700px;
    height: auto;
    margin: 30px;
    padding: 20px;
    border: 5px solid;
    background-color: violet;
}

section h1 {
    width: 780px;
    height: auto;
    background-color: yellowgreen;
}